@using Microsoft.AspNetCore.Identity
@{
    var transferDtos = ViewData["TransferDtos"] as IEnumerable<ExpenseManager.Application.DTOS.TransferDto>;
    var settingsDto = ViewData["SettingsDto"] as ExpenseManager.Application.DTOS.SettingDto;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @section styles {
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    }
</head>


<body>
    @if (settingsDto?.Language == "english")
    {
            <div class="left-rectangle">
                <a href="@Url.Action("Dashboard", "ExpenseManager")">
                <img class="logo" src="@Url.Content("~/images/Logo.png")">
            </a>
                
                <a href="@Url.Action("Dashboard", "ExpenseManager")" class="link first-group first-element">
                    <img src="@Url.Content("~/images/Dashboard.png")">
                    <span class="text">Dashboard</span>
                </a>
                <a href="@Url.Action("Transfers", "ExpenseManager")" class="link first-group">
                    <img src="@Url.Content("~/images/Transfers.png")">
                    <span class="text">Transfers</span>
                </a>
                <a href="@Url.Action("Savings", "ExpenseManager")" class="link first-group">
                    <img src="@Url.Content("~/images/Savings.png")">
                    <span class="text">Savings</span>
                </a>
                <a href="@Url.Action("Actions", "ExpenseManager")" class="link first-group">
                    <img src="@Url.Content("~/images/History.png")">
                    <span class="text">Actions</span>
                </a>
                <hr class="line">
                <a href="@Url.Action("Index", "Settings")" class="link second-group">
                    <img src="@Url.Content("~/images/Settings.png")">
                    <span class="text">Settings</span>
                </a>
                <a href="@Url.Action("Contact", "EXpenseManager")" class="link second-group">
                    <img src="@Url.Content("~/images/ContactUs.png")">
                    <span class="text">Contact us</span>
                </a>
            </div>
            <div class="right-rectangle">

                <div class="right-content">
                    <a href="#" class="right-links">
                        <img class="right-link" src="@Url.Content("~/images/Stats.png")">
                    </a>
                    <a href="#" class="right-links">
                        <img class="right-link" src="@Url.Content("~/images/Alerts.png")">
                    </a>
                    <a href="@Url.Action("Profile", "ExpenseManager")" class="right-links">
                        <img class="right-link" src="@Url.Content("~/images/Account.png")">
                    </a>
                </div>
                <div class="actions">
                    <div class="recent-actions">
                        <p>Recent Actions</p>
                        <a href="#"><img class="actions-show-more" src="@Url.Content("~/images/More.png")" alt="show more"></a>
                    </div>
                    @foreach (var action in transferDtos.Where(t => t.Upcoming == false).OrderByDescending(t => t.CreatedAt).Take(settingsDto.NumberOfDisplayedActions))
                    {

                        <div class="actions-query">
                            <img class="actions-query-category" src="" alt="">
                            <p class="actions-query-description">@action.Description</p>
                            <p class="actions-query-date">@action.CreatedAt.ToString("dd.MM.yyyy")</p>
                            <p class="actions-query-value @(action.Ingoing ? "ingoing-value" : "outgoing-value")">@action.Value@settingsDto.Currency</p>
                        </div>
                    }
                    <div class="upcoming-actions">
                        <p>Upcoming Actions</p>

                        <a href="#"><img class="actions-show-more" src="@Url.Content("~/images/More.png")" alt="show more"></a>
                    </div>
                    @foreach (var action in transferDtos.Where(t => t.Upcoming == true).OrderByDescending(t => t.CreatedAt).Take(1))
                    {
                        <div class="actions-query">
                            <img class="actions-query-category" src="" alt="">
                            <p class="actions-query-description">@action.Description</p>
                            <p class="actions-query-date">@action.CreatedAt.ToString("dd.MM.yyyy")</p>
                            <p class="actions-query-value @(action.Ingoing ? "ingoing-value" : "outgoing-value")">@action.Value@settingsDto.Currency</p>
                        </div>
                    }
                </div>
            
        </div>
    }
    else if(settingsDto?.Language == "deutsch")
    {
            <div class="left-rectangle">
                <a href="@Url.Action("Dashboard", "ExpenseManager")">
                <img class="logo" src="@Url.Content("~/images/Logo.png")">
            </a>
            
            <a href="@Url.Action("Dashboard", "ExpenseManager")" class="link first-group first-element">
                <img src="@Url.Content("~/images/Dashboard.png")">
                <span class="text">Hauptseite</span>
            </a>
            <a href="@Url.Action("Transfers", "ExpenseManager")" class="link first-group">
                <img src="@Url.Content("~/images/Transfers.png")">
                <span class="text">Überweisungen</span>
            </a>
            <a href="@Url.Action("Savings", "ExpenseManager")" class="link first-group">
                <img src="@Url.Content("~/images/Savings.png")">
                <span class="text">Ersparnisse</span>
            </a>
            <a href="@Url.Action("Actions", "ExpenseManager")" class="link first-group">
                <img src="@Url.Content("~/images/History.png")">
                <span class="text">Aktionen</span>
            </a>
            <hr class="line">
            <a href="@Url.Action("Index", "Settings")" class="link second-group">
                <img src="@Url.Content("~/images/Settings.png")">
                <span class="text">Einstellungen</span>
            </a>
            <a href="@Url.Action("Contact", "ExpenseManager")" class="link second-group">
                <img src="@Url.Content("~/images/ContactUs.png")">
                <span class="text">Kontakt</span>
            </a>
        </div>
            <div class="right-rectangle">

                <div class="right-content">
                    <a href="#" class="right-links">
                        <img class="right-link" src="@Url.Content("~/images/Stats.png")">
                    </a>
                    <a href="#" class="right-links">
                        <img class="right-link" src="@Url.Content("~/images/Alerts.png")">
                    </a>
                    <a href="@Url.Action("Profile", "ExpenseManager")" class="right-links">
                        <img class="right-link" src="@Url.Content("~/images/Account.png")">
                    </a>
                </div>
                <div class="actions">
                    <div class="recent-actions">
                        <p>Aktuelle Aktionen</p>
                        <a href="#"><img class="actions-show-more" src="@Url.Content("~/images/More.png")" alt="show more"></a>
                    </div>
                    @foreach (var action in transferDtos.Where(t => t.Upcoming == false).OrderByDescending(t => t.CreatedAt).Take(settingsDto.NumberOfDisplayedActions))
                    {

                        <div class="actions-query">
                            <img class="actions-query-category" src="" alt="">
                            <p class="actions-query-description">@action.Description</p>
                            <p class="actions-query-date">@action.CreatedAt.ToString("dd.MM.yyyy")</p>
                            <p class="actions-query-value @(action.Ingoing ? "ingoing-value" : "outgoing-value")">@action.Value</p>
                        </div>
                    }
                    <div class="upcoming-actions">
                        <p>Bevorstehende Aktionen</p>

                        <a href="#"><img class="actions-show-more" src="@Url.Content("~/images/More.png")" alt="show more"></a>
                    </div>
                    @foreach (var action in transferDtos.Where(t => t.Upcoming == true).OrderByDescending(t => t.CreatedAt).Take(1))
                    {
                        <div class="actions-query">
                            <img class="actions-query-category" src="" alt="">
                            <p class="actions-query-description">@action.Description</p>
                            <p class="actions-query-date">@action.CreatedAt.ToString("dd.MM.yyyy")</p>
                            <p class="actions-query-value @(action.Ingoing ? "ingoing-value" : "outgoing-value")">@action.Value</p>
                        </div>
                    }
                </div>
            
        </div>
    }
    else if (settingsDto?.Language == "polski")
    {
            <div class="left-rectangle">
                <a href="@Url.Action("Dashboard", "ExpenseManager")">
                <img class="logo" src="@Url.Content("~/images/Logo.png")">
            </a>
            
                <a href="@Url.Action("Dashboard", "ExpenseManager")" class="link first-group first-element">
                    <img src="@Url.Content("~/images/Dashboard.png")">
                    <span class="text">Strona główna</span>
                </a>
                <a href="@Url.Action("Transfers", "ExpenseManager")" class="link first-group">
                    <img src="@Url.Content("~/images/Transfers.png")">
                    <span class="text">Transfery</span>
                </a>
                <a href="@Url.Action("Savings", "ExpenseManager")" class="link first-group">
                    <img src="@Url.Content("~/images/Savings.png")">
                    <span class="text">Oszczędności</span>
                </a>
                <a href="@Url.Action("Actions", "ExpenseManager")" class="link first-group">
                    <img src="@Url.Content("~/images/History.png")">
                    <span class="text">Akcje</span>
                </a>
                <hr class="line">
                <a href="@Url.Action("Index", "Settings")" class="link second-group">
                    <img src="@Url.Content("~/images/Settings.png")">
                    <span class="text">Ustawienia</span>
                </a>
                <a href="@Url.Action("Contact", "Settings")" class="link second-group">
                    <img src="@Url.Content("~/images/ContactUs.png")">
                <span class="text">Kontakt</span>
            </a>
        </div>

            <div class="right-rectangle">

                <div class="right-content">
                    <a href="#" class="right-links">
                        <img class="right-link" src="@Url.Content("~/images/Stats.png")">
                    </a>
                    <a href="#" class="right-links">
                        <img class="right-link" src="@Url.Content("~/images/Alerts.png")">
                    </a>
                    <a href="@Url.Action("Profile", "ExpenseManager")" class="right-links">
                        <img class="right-link" src="@Url.Content("~/images/Account.png")">
                    </a>
                </div>
                <div class="actions">
                    <div class="recent-actions">
                        <p>Ostatnie Akcje</p>
                        <a href="#"><img class="actions-show-more" src="@Url.Content("~/images/More.png")" alt="show more"></a>
                    </div>
                    @foreach (var action in transferDtos.Where(t => t.Upcoming == false).OrderByDescending(t => t.CreatedAt).Take(settingsDto.NumberOfDisplayedActions))
                    {

                        <div class="actions-query">
                            <img class="actions-query-category" src="" alt="">
                            <p class="actions-query-description">@action.Description</p>
                            <p class="actions-query-date">@action.CreatedAt.ToString("dd.MM.yyyy")</p>
                            <p class="actions-query-value @(action.Ingoing ? "ingoing-value" : "outgoing-value")">@action.Value</p>
                        </div>
                    }
                    <div class="upcoming-actions">
                        <p>Nadchodzące Akcje</p>

                        <a href="#"><img class="actions-show-more" src="@Url.Content("~/images/More.png")" alt="show more"></a>
                    </div>
                    @foreach (var action in transferDtos.Where(t => t.Upcoming == true).OrderByDescending(t => t.CreatedAt).Take(1))
                    {
                        <div class="actions-query">
                            <img class="actions-query-category" src="" alt="">
                            <p class="actions-query-description">@action.Description</p>
                            <p class="actions-query-date">@action.CreatedAt.ToString("dd.MM.yyyy")</p>
                            <p class="actions-query-value @(action.Ingoing ? "ingoing-value" : "outgoing-value")">@action.Value</p>
                        </div>
                    }
                </div>
            
        </div>
        }
    }
    
    @RenderBody()

    <footer>
        @RenderSection("Scripts", required: false)
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </footer>
</body>
</html>
