@model IEnumerable<ExpenseManager.Application.DTOS.CategoryDto>
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
@{
    var settingsDto = ViewData["SettingsDto"] as ExpenseManager.Application.DTOS.SettingDto;

}
@if (settingsDto.Language == "english")
{
    <a class="create-transfer" href="@Url.Action("CreateUpcomingAction", "ExpenseManager")">New Upcoming Action</a>


    <div class="main-rectangle-grid-actions">


        @foreach (var category in Model.Distinct())
        {
            <div class="categories-container">
                <div class="title-container">
                    <h1>@category.Name</h1>
                </div>
                <div class="actions-container">
                    <a class="edit-action" asp-controller="ExpenseManager" asp-action="Edit" asp-route-Id="@category.Id">
                        <span>Edit</span>
                    </a>
                    <form method="post" asp-controller="ExpenseManager" asp-action="DeleteCategory" asp-route-Id="@category.Id">
                        <button type="submit" class="edit-action">Delete</button>
                    </form>
                </div>
            </div>
        }
        



    
</div>
    <a class="create-new-category" href="@Url.Action("CreateNewCategory", "ExpenseManager")">Create New Category</a>
}
@if (settingsDto.Language == "polski")
{
    <a class="create-transfer" href="@Url.Action("CreateUpcomingAction", "ExpenseManager")">Nowa Nadchodząca Akcja</a>


    <div class="main-rectangle-grid-actions">


        @foreach (var category in Model.Distinct())
        {
            <div class="categories-container">
                <div class="title-container">
                    <h1>@category.Name</h1>
                </div>
                <div class="actions-container">
                    <a class="edit-action" asp-controller="ExpenseManager" asp-action="Edit" asp-route-Id="@category.Id">
                        <span>Edytuj</span>
                    </a>
                    <form method="post" asp-controller="ExpenseManager" asp-action="DeleteCategory" asp-route-Id="@category.Id">
                        <button type="submit" class="edit-action">Usuń</button>
                    </form>
                </div>
            </div>
        }
        


    </div>
    <a class="create-new-category" href="@Url.Action("CreateNewCategory", "ExpenseManager")">Stwórz Nową Kategorię</a>
}
@if (settingsDto.Language == "deutsch")
{
    <a class="create-transfer" href="@Url.Action("CreateUpcomingAction", "ExpenseManager")">Neue bevorstehende Aktion</a>


    <div class="main-rectangle-grid-actions">


        @foreach (var category in Model.Distinct())
        {
            <div class="categories-container">
                <div class="title-container">
                    <h1>@category.Name</h1>
                </div>
                <div class="actions-container">
                    <a class="edit-action" asp-controller="ExpenseManager" asp-action="Edit" asp-route-Id="@category.Id">
                        <span>bearbeiten</span>
                    </a>
                    <form method="post" asp-controller="ExpenseManager" asp-action="DeleteCategory" asp-route-Id="@category.Id">
                        <button type="submit" class="edit-action">löschen</button>
                    </form>
                </div>
            </div>
        }


    </div>
    <a class="create-new-category" href="@Url.Action("CreateNewCategory", "ExpenseManager")">Erstelle eine neue Kategorie</a>
}