@model ExpenseManager.Application.Commands.CreateTransfer.CreateTransferCommand

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<script defer src="@Url.Content("~/js/site.js")"></script>

<div class="left-rectangle">
    <img class="logo" src="@Url.Content("~/images/Logo.png")">
    <a href="@Url.Action("Dashboard", "ExpenseManager")" class="link first-group first-element">
        <img src="@Url.Content("~/images/Dashboard.png")">
        <span class="text">Dashboard</span>
    </a>
    <a href="@Url.Action("Transfers", "ExpenseManager")" class="link first-group">
        <img src="@Url.Content("~/images/Transfers.png")">
        <span class="text">Transfers</span>
    </a>
    <a href="@Url.Action("Savings", "ExpenseManager")" class="link first-group">
        <img src="@Url.Content("~/images/Savings.png")">
        <span class="text">Savings</span>
    </a>
    <a href="Achievements.html" class="link first-group">
        <img src="@Url.Content("~/images/History.png")">
        <span class="text">Achievements</span>
    </a>
    <hr class="line">
    <a href="#" class="link second-group">
        <img src="@Url.Content("~/images/Settings.png")">
        <span class="text">Settings</span>
    </a>
    <a href="#" class="link second-group">
        <img src="@Url.Content("~/images/ContactUs.png")">
        <span class="text">Contact us</span>
    </a>
</div>

<div class="right-rectangle">
    <div class="right-content">
        <a href="#" class="right-links">
            <img class="right-link" src="@Url.Content("~/images/Stats.png")">
        </a>
        <a href="#" class="right-links">
            <img class="right-link" src="@Url.Content("~/images/Alerts.png")">
        </a>
        <a href="#" class="right-links">
            <img class="right-link" src="@Url.Content("~/images/Account.png")">
        </a>
    </div>
    <div class="actions">
        <div class="recent-actions">
            <p>Recent Actions</p>
            <!--database query-->
            <a href="#"><img src="@Url.Content("~/images/More.png")"></a>
        </div>
        <div class="upcoming-actions">
            <p>Upcoming Actions</p>
            <!--database query-->
            <a href="#"><img src="@Url.Content("~/images/More.png")"></a>
        </div>
    </div>
</div>
<div class="main-rectangle">
    <p class="title">Create New Transfer</p>
    <form method="post">
        <div>
            <input type="checkbox" id="switch" asp-for="Ingoing" /><label for="switch"></label>
            <p class="switch-text">Ingoing</p>
        </div>
        <div class="input-box">
            <span class="details">Value</span>
            <input type="text" placeholder="Enter Value" required asp-for="Value">
        </div>
        <div class="input-box">
            <span class="details">Category</span>
            <input type="text" placeholder="Enter Category" required asp-for="Category">
        </div>
        <div class="input-box">
            <span class="details">Details (optional)</span>
            <input type="text" placeholder="Enter Details" asp-for="Description">
        </div>
        <button class="create-button" type="submit">Create </button>
    </form>
</div>