@model ExpenseManager.Application.DTOS.StatDto
@{
    var settingsDto = ViewData["SettingsDto"] as ExpenseManager.Application.DTOS.SettingDto;
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<div class="main-rectangle">
    @if (settingsDto.Language == "english")
    {
        <div class="stats">
            <img class="icon-img" src="@Url.Content("~/images/TotalAmount.png")" alt="TotalAmount">
            <img class="more-img" src="@Url.Content("~/Images/more.png")" alt="show more">
            <p class="values">@Model.TotalAmount@settingsDto.Currency</p>
            <p class="stat-text">Total Amount</p>
        </div>
        <div class="stats">
            <img class="icon-img" src="@Url.Content("~/images/Spent.png")">
            <img class="more-img" src="@Url.Content("~/Images/more.png")" alt="show more">
            <p class="values">@Model.Spent@settingsDto.Currency</p>
            <p class="stat-text">Spent (Month)</p>
        </div>
        <div class="stats">
            <img class="icon-img" src="@Url.Content("~/images/Left.png")">
            <img class="more-img" src="@Url.Content("~/Images/more.png")" alt="show more">
            <p class="values">@Model.Left@settingsDto.Currency</p>
            <p class="stat-text">Left (Month)</p>
        </div>
        <div class="stats">
            <img class="icon-img" src="@Url.Content("~/images/SavingGoal.png")">
            <img class="more-img" src="@Url.Content("~/Images/more.png")" alt="show more">
            <p class="values">@Model.SavingGoal.Goal@settingsDto.Currency</p>
            <p class="stat-text">Saving Goal</p>
        </div>
        <select class="chart-selector">
            <!-- for ASP edit-->
            <option>Total Amount</option>
            <option>Spent</option>
            <option>Left</option>
            <option>Saving Goal</option>
        </select>
        <select class="time-selector">
            <!-- for ASP edit-->
            <option>1 day</option>
            <option>1 week</option>
            <option>1 month</option>
            <option>1 year</option>
        </select>

        <div class="chart">
            <canvas class="dashboard-chart"></canvas> <!--for ASP edit-->
    </div>
    }
    else if (settingsDto.Language == "polski")
    {
        <div class="stats">
            <img class="icon-img" src="@Url.Content("~/images/TotalAmount.png")" alt="TotalAmount">
            <img class="more-img" src="@Url.Content("~/Images/more.png")" alt="show more">
            <p class="values">@Model.TotalAmount@settingsDto.Currency</p>
            <p class="stat-text">Całkowite wpływy</p>
        </div>
        <div class="stats">
            <img class="icon-img" src="@Url.Content("~/images/Spent.png")">
            <img class="more-img" src="@Url.Content("~/Images/more.png")" alt="show more">
            <p class="values">@Model.Spent@settingsDto.Currency</p>
            <p class="stat-text">Wydano (1 mies)</p>
        </div>
        <div class="stats">
            <img class="icon-img" src="@Url.Content("~/images/Left.png")">
            <img class="more-img" src="@Url.Content("~/Images/more.png")" alt="show more">
            <p class="values">@Model.Left@settingsDto.Currency</p>
            <p class="stat-text">Zostało (1 mies)</p>
        </div>
        <div class="stats">
            <img class="icon-img" src="@Url.Content("~/images/SavingGoal.png")">
            <img class="more-img" src="@Url.Content("~/Images/more.png")" alt="show more">
            <p class="values">@Model.SavingGoal.Goal@settingsDto.Currency</p>
            <p class="stat-text">Cel Oszczędnościowy</p>
        </div>
        <select class="chart-selector">
            <!-- for ASP edit-->
            <option>Całkowite wpływy</option>
            <option>Wydano</option>
            <option>Zostało</option>
            <option>Cel Oszczędnościowy</option>
        </select>
        <select class="time-selector">
            <!-- for ASP edit-->
            <option>1 dzień</option>
            <option>1 tydzień</option>
            <option>1 miesiąc</option>
            <option>1 rok</option>
        </select>

        <div class="chart">
            <canvas class="dashboard-chart"></canvas> <!--for ASP edit-->
        </div>
    }
    else if (settingsDto.Language == "deutsch")
    {
        <div class="stats">
            <img class="icon-img" src="@Url.Content("~/images/TotalAmount.png")" alt="TotalAmount">
            <img class="more-img" src="@Url.Content("~/Images/more.png")" alt="show more">
            <p class="values">@Model.TotalAmount@settingsDto.Currency</p>
            <p class="stat-text">Gesamtmenge</p>
        </div>
        <div class="stats">
            <img class="icon-img" src="@Url.Content("~/images/Spent.png")">
            <img class="more-img" src="@Url.Content("~/Images/more.png")" alt="show more">
            <p class="values">@Model.Spent@settingsDto.Currency</p>
            <p class="stat-text">Ausgegebenes (1 mies)</p>
        </div>
        <div class="stats">
            <img class="icon-img" src="@Url.Content("~/images/Left.png")">
            <img class="more-img" src="@Url.Content("~/Images/more.png")" alt="show more">
            <p class="values">@Model.Left@settingsDto.Currency</p>
            <p class="stat-text">bleibt (1 mies)</p>
        </div>
        <div class="stats">
            <img class="icon-img" src="@Url.Content("~/images/SavingGoal.png")">
            <img class="more-img" src="@Url.Content("~/Images/more.png")" alt="show more">
            <p class="values">@Model.SavingGoal.Goal@settingsDto.Currency</p>
            <p class="stat-text">Einsparungsziel</p>
        </div>
        <select class="chart-selector">
            <!-- for ASP edit-->
            <option>Gesamtmenge</option>
            <option>Ausgegebenes</option>
            <option>bleibt</option>
            <option>Einsparungsziel</option>
        </select>
        <select class="time-selector">
            <!-- for ASP edit-->
            <option>1 Tag</option>
            <option>1 Woche</option>
            <option>1 Monat</option>
            <option>1 Jahr</option>
        </select>

        <div class="chart">
            <canvas class="dashboard-chart"></canvas> <!--for ASP edit-->
        </div>
    }
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" src="@Url.Content("~/js/site.js")"></script>