@model ExpenseManager.Application.DTOS.TransferDto

@{
    var settingsDto = ViewData["settingsDto"] as ExpenseManager.Application.DTOS.SettingDto;
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

@if (settingsDto.Language == "english")
{
    
    <div class="main-rectangle">
        <h1 class="title">Transfer Details</h1>
        <div class="values-container">
            <h5>Value: @Model.Value</h5>
            <h6>Category: @(Model.Category != null ? Model.Category : "empty")</h6>
            <p>Description: @Model.Description</p>
            <p>Created: @Model.CreatedAt</p>
            <p>Type: @(Model.Ingoing ? "ingoing" : "outgoing")</p>

        </div>
    </div>
}
else if (settingsDto.Language == "polski")
{
    <h1 class="title">Szczegóły Transferu</h1>
    <div class="main-rectangle">
        <div class="values-container">
            <h5>Wartość: @Model.Value</h5>
            <h6>Kategoria: @(Model.Category != null ? Model.Category : "brak")</h6>
            <p>Opis: @Model.Description</p>
            <p>Data utworzenia: @Model.CreatedAt</p>
            <p>Typ: @(Model.Ingoing ? "przychodzący" : "wychodzący")</p>
        </div>
    </div>
}
else if (settingsDto.Language == "deutsch")
{
    <h1 class="title">Einzelheiten der Übertragung</h1>
    <div class="main-rectangle">
        <div class="values-container">
            <h5>Wert: @Model.Value</h5>
            <h6>Kategorie: @(Model.Category != null ? Model.Category : "null")</h6>
            <p>Beschreibung: @Model.Description</p>
            <p>Datum der Erstellung: @Model.CreatedAt</p>
            <p>Typ: @(Model.Ingoing ? "eingehend" : "Ausgehend von")</p>
        </div>
    </div>
}

