@model ExpenseManager.Application.Commands.CreateSavingGoal.CreateSavingGoalCommand
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<div class="left-rectangle">
    <img class="logo" src="@Url.Content("~/images/Logo.png")">
    <a href="@Url.Action("Dashboard", "ExpenseManager")" class="link first-group first-element">
        <img src="@Url.Content("~/images/Dashboard.png")">
        <span class="text">Dashboard</span>
    </a>
    <a href="@Url.Action("Transfers", "ExpenseManager")" class="link first-group">
        <img src="@Url.Content("~/images/Transfers.png")">
        <span class="text">Transfers</span>
    </a>
    <a href="@Url.Action("Savings", "ExpenseManager")" class="link first-group">
        <img src="@Url.Content("~/images/Savings.png")">
        <span class="text">Savings</span>
    </a>
    <a href="Achievements.html" class="link first-group">
        <img src="@Url.Content("~/images/History.png")">
        <span class="text">Achievements</span>
    </a>
    <hr class="line">
    <a href="#" class="link second-group">
        <img src="@Url.Content("~/images/Settings.png")">
        <span class="text">Settings</span>
    </a>
    <a href="#" class="link second-group">
        <img src="@Url.Content("~/images/ContactUs.png")">
        <span class="text">Contact us</span>
    </a>
</div>

<div class="right-rectangle">
    <div class="right-content">
        <a href="#" class="right-links">
            <img class="right-link" src="@Url.Content("~/images/Stats.png")">
        </a>
        <a href="#" class="right-links">
            <img class="right-link" src="@Url.Content("~/images/Alerts.png")">
        </a>
        <a href="#" class="right-links">
            <img class="right-link" src="@Url.Content("~/images/Account.png")">
        </a>
    </div>
    <div class="actions">
        <div class="recent-actions">
            <p>Recent Actions</p>
            <!--database query-->
            <a href="#"><img src="@Url.Content("~/images/More.png")"></a>
        </div>
        <div class="upcoming-actions">
            <p>Upcoming Actions</p>
            <!--database query-->
            <a href="#"><img src="@Url.Content("~/images/More.png")"></a>
        </div>
    </div>
</div>
<div class="savings-main-rectangle">
    <form method="post">
    <p class="savings-saving-goal">Your Saving Goal</p>
    <div class="add-remove-saving-goal">
        <img class="remove-goal" src="@Url.Content("~/images/Minus.png")" alt="increase saving goal">
            <input class="input-value" type="hidden"  value="100" asp-for="Goal" /> <!--to fix-->
        <p class="saving-goal-value"></p>
        <img class="add-goal" src="@Url.Content("~/images/Plus.png")" alt="increase saving goal">
    </div>
    <button type="submit" class="confirm-saving-goal">Confirm</button>
    </form>
    <div class="failed summary">
        <p class="monthly-goal ">Your Last Monthly Goal</p> <!--for ASP edit-->
        <p class="last-goal ">300</p>
        <span class="goal-text"></span>
    </div>
    <div class="progress-chart-container">
        <p class="progress-text">Your Progress</p>
        <canvas class="progress-chart"></canvas>
    </div>
    <div class="actual-goal">
        <p class="actual-goal-text">Your Actual Goal</p>
        <p class="actual-goal-value">123</p> <!--for ASP edit-->
        <p class="already-saved">Already Saved</p>
        <p class="already-saved-value">123 / 500</p> <!--for ASP edit-->
    </div>


</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" src="@Url.Content("~/js/site.js")"></script>