@model IEnumerable<ExpenseManager.Application.DTOS.TransferDto>

<link rel="stylesheet" href="@Url.Content("~/css/Site.css")">
<script defer src="@Url.Content("~/js/site.js")"></script>

<div class="left-rectangle">
    <img class="logo" src="@Url.Content("~/images/Logo.png")">
    <a href="@Url.Action("Dashboard", "Home")" class="link first-group first-element">
        <img src="@Url.Content("~/images/Dashboard.png")">
        <span class="text">Dashboard</span>
    </a>
    <a href="@Url.Action("Transfers", "ExpenseManager")" class="link first-group">
        <img src="@Url.Content("~/images/Transfers.png")">
        <span class="text">Transfers</span>
    </a>
    <a href="@Url.Action("Savings", "ExpenseManager")" class="link first-group">
        <img src="@Url.Content("~/images/Savings.png")">
        <span class="text">Savings</span>
    </a>
    <a href="Achievements.html" class="link first-group">
        <img src="@Url.Content("~/images/History.png")">
        <span class="text">Achievements</span>
    </a>
    <hr class="line">
    <a href="#" class="link second-group">
        <img src="@Url.Content("~/images/Settings.png")">
        <span class="text">Settings</span>
    </a>
    <a href="#" class="link second-group">
        <img src="@Url.Content("~/images/ContactUs.png")">
        <span class="text">Contact us</span>
    </a>
</div>

<div class="right-rectangle">
    <div class="right-content">
        <a href="#" class="right-links">
            <img class="right-link" src="@Url.Content("~/images/Stats.png")">
        </a>
        <a href="#" class="right-links">
            <img class="right-link" src="@Url.Content("~/images/Alerts.png")">
        </a>
        <a href="#" class="right-links">
            <img class="right-link" src="@Url.Content("~/images/Account.png")">
        </a>
    </div>
    <div class="actions">
        <div class="recent-actions">
            <p>Recent Actions</p>
            <!--database query-->
            <a href="#"><img src="@Url.Content("~/images/More.png")"></a>
        </div>
        <div class="upcoming-actions">
            <p>Upcoming Actions</p>
            <!--database query-->
            <a href="#"><img src="@Url.Content("~/images/More.png")"></a>
        </div>
    </div>
</div>
<a class="create-transfer" href="@Url.Action("Create", "ExpenseManager")">New Transfer</a> <!--for ASP edit-->
<p class="last-transfers">Last Transfers</p>
<div class="main-rectangle-transfers">
   
        @foreach(var transfer in Model)
        {
        <div class="transfers-list">
            <h1 class="transfers-money">@transfer.Value</h1>
            <p class="transfers-category">@transfer.Category</p>
            <p class="transfers-date">@transfer.CreatedAt</p>
            <a href="#" class="show-details">
                <span>Details</span>
            </a>
        </div>
        }
</div>