@model ExpenseManager.Application.DTOS.UserDto
<h1 class="text-center text-white">Profile</h1>
<div class="row">
    <div class="text-white mb-2">
        <p>Email: @Model.UserName</p>
    </div>
    <div class="text-white">
        <p>Email: @Model.Email</p>
    </div>
    <div class="text-white">
        <p>Email: @Model.PhoneNumber</p>
    </div>
    @if(Model.Address != null && Model.Country != null)
    {
        <div class="text-white">
            <p>Address: @Model.Address</p>
        </div>
        <div class="text-white">
            <p>Country: @Model.Country</p>
        </div>
    }
</div>
